@use "./styles/color" as color;
@use "./styles/font" as font;
@use "./styles/mixins" as *;
@use './classes/txt' as *;
@use './classes/button' as *;
@use './classes/backgroud' as *;
@use './classes/page' as *;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



body,
html,
* {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  @include font-style(font.$font-regular, font.$font-size-regular, font.$font-weight-regular, font.$font-line-height-regular, color.$gray-100);
}